body {
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header, .hero, .information {
    padding: 0 20%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.right-links a {
    color: #e5e7eb
}

.right-links ul {
    display: flex;
    gap: 20px;
}

.hero {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
}

.hero img {
    width: 600px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.signup-button {
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
    border: none;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 150px;
}

.cards {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.card img {
    width: 250px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.card {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}

.quotes {
    background-color: #e5e7eb;
    padding: 10% 22%;
}

.quote {
    font-size: 36px;
    font-style: italic;
}
.quote-source {
    font-size: 30px;
    font-weight: bolder;
    text-align: end;
}

.cta {
    background-color: #f9faf8;
    padding: 100px 20%;
}

.cta-box {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-main {
    font-size: 36px;
    color: #f9faf8;
    font-weight: bolder;
}

.cta-sub {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.cta-box .signup-button {
    border: 2px solid white;
}

.footer {
    padding: 30px 0;
    color: #f9faf8;
    text-align: center;
}